@import url("https://fonts.googleapis.com/css2?family=Asap:wght@500&family=Manrope&family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(224, 253, 247);
}
.game-body {
  margin: 0 auto;
  width: 100vw;
}
header {
  background-color: lightgray;
  font-family: Asap, sans-serif;
}
h1 {
  text-align: center;
}
.score-board {
  border: 2px solid lightgrey;
  width: 200px;
  height: auto;
  margin: 10px auto;

  text-align: center;
  border-radius: 5px;
  padding: 5px 5px;
  font-family: sans-serif;
  position: relative;
}
.badge {
  background-color: lightsalmon;
  border: 1px solid gray;
  width: 85px;
  margin: 0 auto;

  height: 20px;
  font-size: 20px;
}
#badge-user {
  position: absolute;
  left: -55px;
  top: 55px;
}
#badge-comp {
  position: absolute;
  right: -55px;
  top: 55px;
}
.user-label {
  margin: 0px auto;
  font-size: 120px;
}
.computer-label {
  margin: 0px auto;
  font-size: 120px;
}
.results > p {
  margin: 0 auto;
  font-size: 23px;
  text-align: center;
}
.choices {
  margin: 0 auto;
  width: 100%;
  padding: 20px;
}

.choice {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin: 0 auto;
  transition: all 0.7s ease;
}
.choice:hover {
  background-color: rgb(199, 144, 144);
  transform: scale(0.7);
  cursor: pointer;
}
img {
  width: 100px;
  height: 100px;
}

.actions {
  padding: 6px 400px;
  font-size: 25px;
  text-align: center;
  margin: 0 auto;
}
.greenborder {
  border: 2px solid green;
  box-shadow: 2px 2px 1px green;
}
.yellowborder {
  border: 2px solid yellow;
  box-shadow: 2px 2px 1px yellow;
}
.pinkborder {
  border: 2px solid pink;
  box-shadow: 2px 2px 1px pink;
}
